/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--tekno); /* If you want dots under the hoverable text */

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: var(--tekno);
  color: var(--bakgrunn);
  text-align: center;
  padding: 0.25rem;
  border-radius: 0.25rem;

  text-transform: none;
  font-size: 0.75rem;
  letter-spacing: 0.0125rem;
  font-weight: 400;
  font-style: normal;
  
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 180px;
  bottom: 140%;
  left: 50%;
  margin-left: -90px;

  transition: ease-in-out 200ms;
  opacity: 0;

  
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transform: skew(-5deg, 0.01turn);

}