@font-face {
  font-family: "Orbitron";
  src: url("fonter/Orbitron/Orbitron-VariableFont_wght.ttf")
}

@font-face {
  font-family: "Instrument";
  src: url("fonter/Instrument_Sans/InstrumentSans-VariableFont_wdth\,wght.ttf")
}

@font-face {
  font-family: "Instrument Serif";
  src: url("fonter/Instrument_Serif/InstrumentSerif-Regular.ttf")
}

:root {
  --bakgrunn: #142019;
  --main: aliceblue;
  --tekno: greenyellow;
  --maks-bredde: 40rem;
  background: linear-gradient(180deg, var(--bakgrunn) 0%, #20392a 100%);

}


html {
  font-family: "Instrument";
  font-size: 18px;
  color: var(--main);
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;

}

a {
  color: var(--tekno);
}

h1, h2, h3 {
  font-family: "Instrument Serif";
}

li {
  margin-bottom: 0.5rem;
  
}

.topp h2 {
    font-weight: 300;
    transform: skew(-15deg, 0.98turn);
    margin-top: 0;
    letter-spacing: 0.0125rem;
}

.techno {
    font-family: "Orbitron";
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: -0.25rem;
    -webkit-text-stroke: 1px var(--bakgrunn);
    transform: skew(-15deg, 0.98turn);
    border: solid greenyellow;
    border-width: 2px 4px 4px 2px;
    border-radius: 2rem;
    padding: 1rem 2.5rem 1rem 2rem;
    display: flex;
    width: fit-content;
    align-self: center;
}

.techno:hover {
    text-shadow: 0.125rem 0.25rem greenyellow;

}

.film {
aspect-ratio: 4 / 3;
padding: 2rem;
}

.boks {
    margin: 1rem; 
    padding: 1rem; 
    border: 1px solid var(--main);
    border-radius: 1rem;
}


@keyframes sparkle {
    0% {
      color: var(--main);
      text-shadow: none;
    }
    50% {
      color: greenyellow;
      text-shadow: 0 0 5px greenyellow, 0 0 8px greenyellow, 0 0 10px greenyellow, 0 0 8px greenyellow, 0 0 5px greenyellow;
    }
    100% {
      color: var(--main);
      text-shadow: none;
    }
  }
  
  .stjernetekst {
    animation: sparkle 3s infinite;
  }
  
  .lyrics {
    text-align: left;
    margin: 1rem 0;
    padding: 2rem;
  }
  
  .lyrics .overline {
    font-weight: 700;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.125rem;
    color: var(--tekno);
    margin-bottom: 0;
  }

  .lyrics p:not(.overline) {
    margin-top: 0.5rem;
    line-height: 1.6rem;
    font-variation-settings: "wght" 300,
  }

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted var(--tekno); /* If you want dots under the hoverable text */

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: var(--tekno);
  color: var(--bakgrunn);
  text-align: center;
  padding: 0.25rem;
  border-radius: 0.25rem;

  text-transform: none;
  font-size: 0.75rem;
  letter-spacing: 0.0125rem;
  font-weight: 400;
  font-style: normal;
  
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 180px;
  bottom: 140%;
  left: 50%;
  margin-left: -90px;

  transition: ease-in-out 200ms;
  opacity: 0;

  
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transform: skew(-5deg, 0.01turn);

}